<aside>
  <div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered"><a href="profile.html"><img src="/img/ui-sam.jpg" class="img-circle" width="80"></a></p>
      <h5 class="centered"><%= user.name %></h5>
      <li class="mt">

        <a href="/dashboard">
          <i class="fa fa-dashboard"></i>
          <% if(user.isAdmin){  %>
          <span>Common Users List</span>
          <% }else { %>
          <span>Admins List</span>
          <% } %>
        </a>
      </li>

      <li class="sub-menu">
        <a href="/chats">
          <i class="fa fa-comments-o"></i>
          <span>Active Chats</span>
        </a>
      </li>
      <% if(user.isAdmin){ %>
      <li class="sub-menu">
        <a href="/chats/tree">
          <i class="fa fa-comments-o"></i>
          <span>Admin Chats Tree</span>
        </a>
      </li>
      <% } %>
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>